.home {
  padding: 7rem 2rem 4rem 2rem;
  flex: 1;
  overflow-y: auto;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.popular-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #f7f7f7;
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
