.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f60606;
  padding: 1rem 2rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0a0a0a;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}

.nav-links a {
  color: #f6f3f3;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0e0e0e;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-left: auto;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s ease;
}

.hamburger span:hover{
  background: #0a0a0a;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}