.app {
  min-height: 100vh;
  background: url("/bg.jpg") no-repeat center top fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  flex: 1;
  padding-top: 5rem;
  padding-bottom: 4rem;
}